@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria:#32012F;
    --cor-secundaria:#E2DFD0;
    --cor-terciaria:#F97300;
    --cor-hover:rgba(82, 76, 66, 0.3);

    --fonte-primaria:"krona one", sans-serif;
    --fonte-secundaria:"Montserrat", sans-serif;
}


* {
    margin: 0;
    padding: 0;
}


body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color:var(--cor-primaria);
    color:var(--cor-secundaria);
    font-size: 16px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;

}

.cabecalho {
    padding: 3% 0 0 20%;
    
}

.cabecalho__menu {
    display: flex;
    gap: 5rem;
}



.titulo-destaque {

    color:var(--cor-terciaria);
}

.bio_image {
    width: 45%;
}


.zoom {
    width: 25rem;
    overflow: hidden;
    border-radius: 1.875rem;
}
.imagem_zoom {
    border-radius: 1.25rem;
    width: 25rem;
    height: auto;
    transition: transform 0.3s ease;

}

.imagem_zoom:hover {
    transform: scale(1.1);
}

.apresentacao {
    padding: 12% 20%;
    display: flex;
    justify-content: space-between;
    gap: 82px;
    
   
}

.apresentacao__conteudo {
    width: 50%;
    font-family: var(--fonte-secundaria);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

}


.apresentacao__conteudo__titulo {   
    font-size: 2.25rem;
    text-align: left;
    font-family: var(--fonte-primaria);
}
.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    text-align: left;
    
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__links__style  {
    width: 17.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 1.34rem 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 388;
    border: 0.125rem solid var(--cor-terciaria);
}

.apresentacao__links__style:hover {
    background-color: var(--cor-hover);
}

.apresentacao__links__icones {
    height: 1.625rem;
    width: 1.625rem;
}


@media (max-width:1200px) {

    
    .zoom {
        width: 19rem;
    }

    .imagem_zoom {
        width: 19rem;

    }

    .cabecalho {
        padding: 7%;
        
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction:column-reverse;
        padding: 10%;
    }

    .apresentacao__conteudo {
        width: auto;
    }



}